<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title> Theater Bookings </title>
	<link rel="stylesheet" type="text/css" href="mainstyle.css" />
	<style>
		@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');
		@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
	</style>
</head>



<body>
	<nav>
		<ul>
			<li class="navigation">
				<a class="navbar" href="#scroll">Home</a>
				</a>
			</li>
			<li class="navigation">
				<a class="navbar" href="#scroll2">Now Playing</a>
			</li>
			<li class="navigation">
				<a class="navbar" href="/support">Contact</a>
			</li>
			<li class="navigation">
				{{#if sessionActive}}
				<a class="ShoppingCart" href="/myCart"><img src="img/BlackCart.png"></a>
				{{else}}
				<a class="ShoppingCart" href="/shopping"></a>
				{{/if}}
			</li>
			<li class="navigation">
				{{#if sessionActive}}
				{{else}}
				<a class="navbar" href="/register">SignUp</a>
				{{/if}}
			<li class="navigation1">
				{{#if sessionActive}}
				<a class="login" href="/myprofile">My Profile</a>
				{{else}}
				<a class="login" href="/login">Log in</a>
				{{/if}}
			</li>
		</ul>
	</nav>

	</header>
	<p id="scroll"></p>
	<div class="home">
		<img src="img\lion.png" class="logo" alt="images of logo" />

		<h1 class="name">x Theatres</h1>
		<p class="caption">The best in West Midlands </p>
		<div class="contain1">
			<a href="#scroll2"> <button class="contbutton1">Whats On?</button></a>
		</div>
	</div>
	<p id="scroll2"></p>
	<h1 class="title">Movies Playing Right Now</h1>
	<table>

		{{#each movies}}
		<tr>
			<th>{{this.movie}}</th>

		</tr>
		<tr>
			<th><img src="./img/{{this.movie}}.jpg" alt="{{this.movie}}" height="300" width="200"></th>
		</tr>
		<tr>
			<th><a href="/prod/{{this.movie}}"> <button class="contbutton1">Book Now</button></a></th>
		</tr>
		{{/each}}

	</table>


</body>

<p class="footer">We are Xtheatre! © All copyrights are reserved.</p>

</html>