<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title> Theater Bookings </title>
	<link rel="stylesheet" type="text/css" href="mainstyle.css" />
	<style>
		@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');
		@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
	</style>
</head>



<body>
	<img src="img\lion.png" class="logo" alt="images of logo" />

	<nav>
		<ul>
			<li class="navigation">
				<a class="navbar" href="/">Home</a>
				</a>
			</li>
			<li class="navigation">
				<a class="navbar" href="/home#scroll2">Now Playing</a>
			</li>
			<li class="navigation">
				<a class="navbar" href="/support">Contact</a>
			</li>
			<li class="navigation">
				{{#if sessionActive}}
				{{else}}
				<a class="navbar" href="/register">SignUp</a>
				{{/if}}
			<li class="navigation1">
				{{#if sessionActive}}
				<a class="login" hrev="/myprofile">My Profile</a>
				{{else}}
				<a class="login" href="/login">Log in</a>
				{{/if}}
			</li>
		</ul>
	</nav>
	</header>
	<table>
		<tr>
			<td>Profile Picture:</td>
			<td><img src={{imgUrl}} alt="??" width="100" height="100"></td>

		</tr>
		<tr>
			<td>Name:</td>
			<td>{{name}}</td>
		</tr>
		{{#if admin}}
		<form action="/myprofile" enctype="multipart/form-data" method="post">
			<p>Movie Name<input type="text" name="movie"></p>
			<p>Date Available <input type="text" name="date"></p>
			<p>Time Available<input type="text" name="time"></p>
			<p>Set Cost of low-priced seats<input type="number" name="LP"></p>
			<p>Set Cost of medium-priced seats<input type="number" name="MP"></p>
			<p>Set Cost of high-priced seats<input type="number" name="HP"></p>
			<p>Low-Priced Seats Available<input type="number" name="low"></p>
			<p>Medium-Priced Seats Available<input type="number" name="medium"></p>
			<p>High-Priced Seats Available<input type="number" name="high"></p>
			<p><input type="file" name="avatar"></p>
			<p><input type="submit" value="ADD"></p>
		</form>
		<tr>
			<td>THIS IS AN ADMIN ACCOUNT</td>
		</tr>
		{{/if}}

		<a href="/logout">Log Out</a>
	</table>
	{{#if admin}}
	<table>
		<tr>
			<th>Name</th>
			<th>Time</th>
			<th>Total Income</th>
		</tr>
		{{#each income}}

		<tr>
			<td>{{this.movie}}</td>
			<td>{{this.time}}</td>
			<td>£{{this.totalIncome}}</td>
		</tr>
		{{/each}}
		{{/if}}

</body>
<p class="footer">We are Xtheatre! © All copyrights are reserved.</p>

</html>