<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>
    <p>For {{movie}} on the date chosen.</p>
    <p>Please choose how many tickets you'd like, up to the maximum possible.</p>
    <p>There are {{lowTickets}} low-priced tickets available at £{{LP}} per ticket</p>
    <form action="/payment/{{showNumber}}" method="post">
        <input name="tickets">
        <p>There are {{mediumTickets}} medium-priced tickets available £{{MP}} per ticket</p>
        <input name="tickets">
        <p>There are {{highTickets}} high-priced tickets available £{{HP}} per ticket</p>
        <input name="tickets">
        <input type="submit">
    </form>
    <a href="/cart/{{this.movie}}/{{this.date}}/{{this.time}}"> <button class="contbutton1"> Add to cart </button></a>
    <br>
    <a href="/home"><button class="contbutton1">Back to the homepage</button></a>
</body>