<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
</head>

<body>
    <p>There are {{tickets}} tickets left in total for {{movie}} on the date chosen.</p>
    <p>Time chosen: {{params.time}}</p>
    <p>Please choose how many you'd like, up to the maximum possible.</p>
    <p>There are {{lowTickets}} low-priced tickets available</p>
    <form action="/payment/{{showNumber}}" method="post">
        <input name="tickets">
        <p>There are {{mediumTickets}} medium-priced tickets available</p>
        <input name="tickets">
        <p>There are {{highTickets}} high-priced tickets available</p>
        <input name="tickets">
        <input type="submit">
        <button class="contbutton1" type="submit" formaction="/cart/{{params.movie}}/{{params.date}}/{{params.time}}"> Add to cart </button>
    </form>
    <br>
    <a href="/home"><button class="contbutton1">Back to the homepage</button></a>
</body>